a {
  color: #00a290;
}

a:hover {
  color: #227d00;
}

th {
  background: #006a72;
  color: white;
}

th a {
  color: #fff;
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
}

#tableView, #calendar, #google-images {
  margin: 20px;
}

span.fc-title {
  cursor: pointer;
}