a {
  color: #00a290;
}

a:hover {
  color: #227d00;
}

th {
  background: #006a72;
  color: white;
}

th a {
  color: #fff;
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
}

#tableView, #calendar, #google-images, #addArea, #dicOptoin {
  margin: 20px;
}

span.fc-title {
  cursor: pointer;
}

.correctedWord{
  font-weight: bold;
  font-size: 1.5em;
}

#my-final-table tr:hover {
  background-color: #F1F1F1;
}

div#add{
  display: none;
}

textarea#inputeText{
  width: 90%;
}

div#notice{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: lightyellow;
  font-size: 50px;
  font-weight: bold;
  line-height: 100%;
}

span.action{
  cursor: pointer;
}

tr.listening {
  background-color: #F2F2F2;
}

tr.currentplaying {
  background-color: black;
  color: white;  
}

.examples {
  margin-left: 10px;
  display: block;
  font-style: italic;
}
.exmples:empty{
  display: none;
}
.cambridge_icon {
  width: 10px;
}

.google_icon {
  height: 12px;
}
