.images-tooltip {
  max-width: 100% !important;
  /*position: fixed;*/
  /*top: 0px !important;*/
  /*left: 0px !important;*/
}

.images-tooltip img {
  margin-right: 2px;
  margin-bottom: 2px;
  border: 1px solid gray;
  max-width: 200px;
  max-height: 200px;
}

div#google-images img {
  margin-right: 2px;
  margin-bottom: 2px;
  border: 1px solid gray;
  max-width: 1000px;
  max-height: 1000px;
}